@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sell your stuff</h1>
    <p class="lead">Sell your electronics, Cars, Bikes</p>
    <p><a href="http://www.google.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more </a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
    </div>
</div>